@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  @apply text-7xl text-center font-bold text-zinc-200 mb-10;
  text-transform: uppercase;
}

.btn {
  @apply px-4 py-2 bg-lime-500 text-zinc-200 font-extrabold rounded-sm hover:bg-pink-600 duration-200;
  text-transform: uppercase;
}

.box {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  border: 1px solid black;
}

.box:hover {
  @apply bg-red-400;
}

.on {
  @apply bg-black;
}

.off {
  @apply bg-white;
}
